
@model InfluenderAlert.Model.Feed
@{
    ViewData["Title"] = "Influencer Alert";
}


<h1>Influencer Alert</h1>

<div class="table-head">
    <span class="head-item long"></span>
    <span class="head-item long">Post</span>
    <span class="head-item long">Influencer</span>
    <span class="head-item short">Followers</span>
    <span class="head-item short">Likes</span>
    <span class="head-item short">Views</span>
    <span class="head-item short">Date</span>
</div>
<div class="table-body">
    @foreach (var product in Model.Products)
    {
        <div class="table-row name">
            <div class="table-item"><a class="link">@product.Name</a></div>
        </div>
        foreach (var post in product.Posts)
        {
            <div class="table-row">

 <div class="table-item long"><img class="post-img" src="@post.Image"></div>
                <div class="table-item long"><a class="link" href="@post.Url">@post.Headline</a></div>

                <div class="table-item long"><a class="link">@post.Influencer</a></div>
                <div class="table-item short">@post.Followers</div>
                <div class="table-item short">@post.Likes</div>
                <div class="table-item short">@post.Views</div>
                <div class="table-item short">@post.Date.ToString("d")</div>
            </div>
        }

    }
</div>
